/* general */
body {
  margin: 0;
  font-family: "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* game-board */
main {
  margin: 0 auto;
  background-color: darkslategrey;
  width: 150vmin;
  height: 150vmin;
  text-align: center;
  border-radius: 10px;
}

/* game-board */
.game-board-header {
  color: white;
  transform: translateY(30px);
}
